# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Build directories
build/
dist/
*.egg-info/

# Packaging artifacts
*.egg
*.wheel

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
.env/

# Editor-specific files
.vscode/
tests/
*.log
*.html
*.out
*.xlsx


**/kernel_meta
examples/