[submodule "supported_models/Yi-6B"]
	path = supported_models/Yi-6B
	url = https://modelers.cn/openMind-ecosystem/Yi-6B.git
[submodule "supported_models/Yi-1.5-9b-chat"]
	path = supported_models/Yi-1.5-9b-chat
	url = https://modelers.cn/openMind-ecosystem/Yi-1.5-9b-chat.git
[submodule "supported_models/cogvlm2-llama3-chat-19B"]
	path = supported_models/cogvlm2-llama3-chat-19B
	url = https://modelers.cn/openMind-ecosystem/cogvlm2-llama3-chat-19B.git
[submodule "supported_models/codegeex4-all-9b"]
	path = supported_models/codegeex4-all-9b
	url = https://modelers.cn/openMind-ecosystem/codegeex4-all-9b.git
[submodule "supported_models/cogagent-chat-hf"]
	path = supported_models/cogagent-chat-hf
	url = https://modelers.cn/openMind-ecosystem/cogagent-chat-hf.git
[submodule "supported_models/CodeQwen1.5-7B"]
	path = supported_models/CodeQwen1.5-7B
	url = https://modelers.cn/openMind-ecosystem/CodeQwen1.5-7B.git
[submodule "supported_models/Bunny-Llama-3-8B-V"]
	path = supported_models/Bunny-Llama-3-8B-V
	url = https://modelers.cn/openMind-ecosystem/Bunny-Llama-3-8B-V.git
[submodule "supported_models/codegeex2-6b"]
	path = supported_models/codegeex2-6b
	url = https://modelers.cn/zhipuai/codegeex2-6b.git
[submodule "supported_models/characterglm-6b"]
	path = supported_models/characterglm-6b
	url = https://modelers.cn/zhipuai/characterglm-6b.git
[submodule "supported_models/chatglm2-6b-32k"]
	path = supported_models/chatglm2-6b-32k
	url = https://modelers.cn/zhipuai/chatglm2-6b-32k.git
